#page {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
}

#page div {
    width: 38px;
    height: 38px;
    border: 1px solid;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-right-color: #222;
    border-bottom-color: #222;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
}

#page div:hover {
    background-color: #ccc;
}

.revealed {
    border-top-color: #222 !important;
    border-left-color: #222 !important;
    border-right-color: #ddd !important;
    border-bottom-color: #ddd !important;
    background-color: #cde;
}
/* just for debugging */

.bomb {
    background-color: #f88;
}


.red {
    background-color: red;
}
